{% extends 'base.html.twig' %}

{% block title %} Liste des tâches {% endblock %}

{% block header_title %}
    <h1> Liste des tâches </h1>
{% endblock header_title %}

{% block header_img %}<img class="w-100" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="card-body custom-border-card pb-0">
            <div class="d-flex">
                <nav class="mb-2">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li>
                            <a class="nav-link {{ tab == 'todo' ? 'active' }} text-dark" href="#tasks_to_do" data-bs-toggle="tab">
                                <i data-feather="x-circle"></i> Tâches à faire
                            </a>
                        </li>
                        <li>
                            <a class="nav-link {{ tab == 'done' ? 'active' }} text-dark" href="#tasks_done" data-bs-toggle="tab">
                                <i data-feather="check-circle"></i> Tâches terminées
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="{{ path('app_task_new')}}" class="btn btn-primary ms-md-auto my-auto"> <i data-feather="plus-circle"></i> Nouvelle tâche </a>    
            </div>
            <div class="tab-content pt-1">
                <div role="tabpanel" id="tasks_to_do" class="tab-pane fade {{ tab == 'todo' ? 'active show' }}">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for task in todoTasks %}
                            <div class="col">
                                {% include "task/elements/_task_card.html.twig" %}
                            </div>                    
                        {% else %}
                            <div class="col">
                                <div class="card border-light shadow-sm mb-3" style="max-width: 18rem;">
                                    <div class="card-header"> Aucune tâche à faire pour le moment </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> Aucune tâche </h5>
                                        <p class="card-text"> </p>
                                    </div>
                                </div>
                            </div>            
                        {% endfor %}
                    </div>
                </div>
                <div role="tabpanel" id="tasks_done" class="tab-pane fade {{ tab == 'done' ? 'active show' }}">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for task in doneTasks %}
                            <div class="col">
                                {% include "task/elements/_task_card.html.twig" %}
                            </div>                    
                        {% else %}
                            <div class="col">
                                <div class="card border-light shadow-sm mb-3" style="max-width: 18rem;">
                                    <div class="card-header"> Aucune tâche faite pour le moment </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> Aucune tâche </h5>
                                        <p class="card-text"> </p>
                                    </div>
                                </div>
                            </div>            
                        {% endfor %}
                    </div>
                </div>
                <div role="tabpanel" id="idk" class="tab-pane fade">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
